testdata/
*.prov
*.ttl
*.png
*.pyc
*.swp
__pycache__/
pit/__pycache__/
main.py
.vscode/
.idea
pit/test
.pytest_cache
.coverage

build/
dist/
*.egg-info/
*.egg
.eggs
*.py[cod]
*.so
*~

.pypirc
provit/browser/static
provit/browser/templates


# Sphinx Build Dir
docs/build

frontend/node_modules
frontend/build
frontend/.pnp
frontend/.pnp.js

# testing
frontend/coverage

# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*


